@import "../../styles/variables.scss";
@import "../../styles/common.scss";

.#{$namespace}discovery-tooltip {
  position: absolute;
  bottom: calc(100% + 8px);
  right: 0;
  z-index: 1000;
  animation: slideUpDiscovery 0.3s ease-out;
  background-color: #303033;
  border-radius: 24px 24px 4px 24px;
  padding: 12px 16px;
  width: 240px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);

  &__text {
    color: white;
    font-size: 14px;
    line-height: 1.43;
    font-family: $fontfamily;
    margin: 0;
    font-weight: 400;
    text-align: left;
  }

  @media screen and (max-width: 800px) {
    right: -10px;
    width: 280px;
  }
}

@keyframes slideUpDiscovery {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}