@import 'variables.scss';
@import 'common.scss';

.#{$namespace}conversation-container {
  ol,
  ul {
    list-style: none;
  }

  .#{$namespace}message {
    margin: 10px 16px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    font-family: $fontfamily;
    flex-wrap: wrap;
    position: relative;

    .#{$namespace}markdown {
      p {
        margin: 0;
      }
      img {
        max-width: 100%;
      }
      ol,
      ul {
        margin: 0;
        padding-left: 0;
      }
    }
  }

  .#{$namespace}client {
    @include message-bubble(rgba(255, 255, 255, 0.7), #19191c, 24px 24px 0 24px);
    max-width: 85%;
    margin-left: auto;
    font-size: 13px;
    line-height: 20px;
    overflow-wrap: break-word;
    a {
      color: $turqois-1;
    }
  }

  .#{$namespace}response {
    @include message-bubble(rgba(255, 255, 255, 0.1), #fff, 24px 24px 0 24px);
    overflow-wrap: break-word;
  }

  /* For markdown elements created with default styles */
  .#{$namespace}message-text {
    margin: 0;
    .#{$namespace}markdown {
    }
  }
}
