@import "variables.scss";

@import "common.scss";

.#{$namespace}conversation-container {
  .#{$namespace}sender {
    position: relative;
    align-items: center;
    display: flex;
    background-color: transparent;
    min-height: 30px;
    padding: 16px 16px;

  }

  .#{$namespace}new-message {
    font-size: 1em;
    border-radius: 8px;
    border: 1px solid rgba(107, 87, 255, 0.20);
    color: $white;
    width: 100%;
    background-color: #381375;
    padding: 8px;
    font-family: $fontfamily;
    overscroll-behavior: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: none;
    background: var(--Opacity-White-T05, rgba(255, 255, 255, 0.05));

    &:focus {
      outline: none;
    }
  }

  .#{$namespace}new-message::-webkit-scrollbar {
    display: none;
  }

  .#{$namespace}send {
    background: transparent;
    padding: 4px;
    border: 0;
    position: absolute;
    right: 20px;

    .#{$namespace}send-icon {
      fill: #00000000;;
      transition: fill 0.35s;
    }

    .#{$namespace}send-icon-ready {
      fill: $white;
      transition: fill 0.35s;
    }
  }

  @media screen and (max-width: 800px)  {
    .#{$namespace}sender {
      border-radius: 0;
      flex-shrink: 0;
    }
  }

}

.#{$namespace}widget-embedded {
  .#{$namespace}sender {
    flex: 0, 0, auto;
    min-height: 35px;
  }
}
